body {
  margin: 0 auto;
  font-family: 'Courier';
  overflow-x: hidden;
  background-color: black;
  color: white; }

.absolute {
  position: absolute; }

.align-center {
  align-items: center; }

.center {
  text-align: center; }

.container {
  max-width: 1200px !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

h1 {
  font-size: 70px; }

p {
  font-size: 22px; }

a {
  text-decoration: none;
  color: white;
  font-weight: 600; }

.btn {
  background-color: white;
  border: #321d78 2px solid;
  padding: 10px 15px;
  color: #321d78;
  text-transform: uppercase; }

.btn-color {
  background-color: #321d78;
  color: white; }

.flex {
  display: flex; }

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#spaceship {
  position: absolute;
  top: 230px;
  left: 0px; }

#game {
  height: 99vh;
  overflow: hidden; }
  #game p {
    margin-bottom: 0; }
  #game .container {
    background-color: #1d1d1b;
    padding: 20px 30px !important; }

#game-background {
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

#game-background .horizontal {
  display: none; }

.direction,
.directionMobile {
  color: white;
  border: 1px solid white;
  padding: 10px 35px 15px 20px;
  background-color: #343434; }

.direction {
  bottom: 0;
  width: 200px;
  position: absolute;
  left: 0; }

.directionMobile {
  width: 100%; }

.key {
  border: 2px solid white;
  width: 25px;
  height: 25px;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.spacebar {
  width: 80%; }

#direction h2 {
  text-transform: uppercase;
  margin: 0; }

.keys p {
  padding-bottom: 10px;
  font-size: 15px; }

.esc,
.fire {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase; }

.esc {
  max-width: 65px; }

.fire {
  max-width: 100%;
  top: 0;
  left: 155px;
  z-index: -1; }

.life {
  position: absolute;
  bottom: 0;
  left: 300px;
  text-transform: uppercase;
  font-size: 20px; }

.score {
  margin-left: 40px; }

#meteor-container {
  max-width: 100px; }
  #meteor-container img {
    width: 100%; }

.meteor-right {
  top: 45%;
  left: 1920px;
  max-width: 100px; }
  .meteor-right img {
    width: 100%;
    height: 100%; }

#start-meteor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

#game-over,
#finish-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  display: none; }
  #game-over h1,
  #finish-game h1 {
    font-size: 70px; }
  #game-over a.btn-color,
  #finish-game a.btn-color {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 60px;
    border: none;
    width: 230px;
    padding: 15px 20px; }

.blinking-eye {
  animation: blinkingEye 4s ease-in-out 2s normal infinite;
  transform-origin: 202px 145px; }

@keyframes blinkingEye {
  0% {
    transform: scaleY(1); }
  45% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0); }
  55% {
    transform: scale(1); }
  100% {
    transform: scaleY(1); } }

@media screen and (max-width: 1000px) {
  .show-mobile {
    display: inline-block !important; }
  .show-desktop {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .show-mobile {
    display: none !important; }
  .show-desktop {
    display: inline-block !important; } }
